<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.runningsnail.demos">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.widget.CustomToastActivity"></activity>
        <activity android:name=".activity.tv.RecyclerViewActivity" />
        <activity android:name=".activity.widget.SeekBarUseActivity" />
        <activity android:name=".activity.tv.ClipPaddingAndChildTestActivity" />
        <activity android:name=".activity.tv.FocusSearchActivity" />
        <activity android:name=".activity.text.TextEffectActivity" />
        <activity android:name=".activity.tv.ViewVisibleActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="1280" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="720" />

        <activity android:name=".activity.tv.ScreenAdapterActivity" />
        <activity android:name=".activity.tv.LinearLayoutTVActivity" />
        <activity android:name=".activity.tv.FlyEffectActivity" />
        <activity android:name=".activity.tv.ScrollViewActivity" />
        <activity android:name=".pattern.state_pattern.LoginActivity" />
        <activity android:name=".pattern.state_pattern.WelcomActivity" />
        <activity android:name=".activity.tv.FunnyPropertyActivity" />
        <activity android:name=".activity.material.ConbineTestActivity" />
        <activity android:name=".activity.webview.OriginAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="data"
                    android:scheme="snail" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.webview.H5OpenAppTestActivity" />
        <activity android:name=".activity.material.AppbarLayoutActivity" />
        <activity android:name=".activity.nested.SimpleNestedActivity" />
        <activity android:name=".activity.arc.jetpack.combine.CombineOneActivity" />
        <activity android:name=".activity.arc.jetpack.databinding.DatabindingActivity" />
        <activity android:name=".activity.arc.jetpack.ViewModelActivity" />
        <activity android:name=".activity.arc.jetpack.LifecyclerActivity" />
        <activity
            android:name=".activity.LocationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.surface.MediaPlayerAndTextureViewActivity" />
        <activity android:name=".activity.surface.MediaplayerAndSurfaceViewActivity" />
        <activity android:name=".activity.surface.SurfaceViewActivity" />
        <activity android:name=".activity.view.ViewUseActivity" />
        <activity android:name=".activity.viewgroup.ConstraintLayoutTestActivity" />
        <activity android:name=".activity.androidapi.AndroidApiTestActivity" />
        <activity android:name=".activity.downlaod.DownloadTestActivity" />
        <activity android:name=".activity.view.ViewLocationTestActivity" />
        <activity android:name=".activity.timer.Cron4jTestActivity" />
        <activity android:name=".activity.timer.QuartzTestActivity" />
        <activity android:name=".activity.thread.AsyncTaskTestActivity" />
        <activity android:name=".activity.media.AudioPlayActivity" />
        <activity android:name=".activity.resources.AssetActivity" />
        <activity android:name=".activity.viewgroup.GridLayoutTestActivity" />
        <activity android:name=".activity.viewgroup.TableLayoutTestActivity" />
        <activity android:name=".activity.recyclerview.RecyclerViewDecorationActivity" />
        <activity android:name=".activity.datastore.SqliteActivity" />
        <activity android:name=".activity.webview.WebViewTestTwoActivity" />
        <activity android:name=".activity.provider.UseOtherAppContentProviderActivity" />
        <activity android:name=".activity.view.CoordinatorLayoutWithCollapsingToolbarLayoutActivity" />
        <activity android:name=".activity.view.CoordinatorLayoutWithAppBarLayoutActivity" />
        <activity android:name=".activity.view.CoordinatorLayoutWithFABActivity" />
        <activity android:name=".activity.surface.VideoViewActivity" />
        <activity android:name=".activity.webview.WebViewTestOneActivity" />
        <activity android:name=".activity.broadcast.DynamicBroadCastActivity" />
        <activity android:name=".activity.tv.MockActivity" />
        <activity android:name=".activity.service.RemoteServiceActivity" />
        <activity android:name=".activity.service.StartAndBindServiceActivity" />
        <activity android:name=".activity.mvp.UserCollectionActivity" />
        <activity android:name=".activity.tv.RuntimeExecuteActivity" />
        <activity android:name=".activity.tv.ShadowEffectActivity" />
        <activity android:name=".activity.animator.AnimatorScrollActivity" />
        <activity android:name=".activity.NetworkActivity" />
        <activity android:name=".activity.material.CordinatorLayoutTestActivity" />
        <activity
            android:name=".activity.tv.KeyEventTestActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>

                <!-- 这两条决定了这是APP启动后的第一个Activity -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".alias_two"
            android:targetActivity=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".alias_one"
            android:targetActivity=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activity.bottomnavigation.BottomWayOneActivity"
            android:label="底部导航栏一" />
        <activity android:name=".activity.ImageSwitcherActivity" />
        <activity
            android:name=".activity.bottomnavigation.BottomWayTwoActivity"
            android:label="底部导航栏二" />
        <activity
            android:name=".activity.bottomnavigation.BottomWayThreeActivity"
            android:label="底部导航栏三" />
        <activity
            android:name=".activity.viewanimation.ScaleAnimationActivity"
            android:label="缩放动画简单示例" />
        <activity
            android:name=".activity.viewanimation.AlphaAnimationActivity"
            android:label="透明度动画简单示例" />
        <activity
            android:name=".activity.viewanimation.RotateAnimationActivity"
            android:label="旋转动画简单示例" />
        <activity
            android:name=".activity.viewanimation.TranslateAnimationActivity"
            android:label="平移动画简单示例" />
        <activity
            android:name=".activity.viewanimation.SetAnimationActivity"
            android:label="动画组合简单示例" />
        <activity
            android:name=".activity.viewanimation.SplashActivity"
            android:label="镜头动画" />
        <activity
            android:name=".activity.viewanimation.DoubleTabScaleActivity"
            android:label="双击放大动画" />
        <activity
            android:name=".activity.viewanimation.LoaddingActivity"
            android:label="加载动画" />
        <activity
            android:name=".activity.viewanimation.ScanActivity"
            android:label="声波动画简单示例" />
        <activity android:name=".activity.viewanimation.FrameAnimActivity" />
        <activity
            android:name=".activity.dialog.AlertDialogActivity"
            android:label="对话框一" />
        <activity android:name=".activity.ViewRelationLocationActivity" />
        <activity android:name=".activity.recyclerview.RecyclerViewOneActivity" />
        <activity android:name=".activity.recyclerview.RecyclerViewTwoActivity" />
        <activity android:name=".activity.recyclerview.RecyclerViewShowErrorActivity" />
        <activity android:name=".activity.recyclerview.RecyclerViewFiveActivity" />
        <activity
            android:name=".activity.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.rxjava.RxJavaOneActivity" />
        <activity android:name=".activity.recyclerview.RecyclerViewThreeActivity" />
        <activity android:name=".activity.dialog.DialogFragmentActivity" />
        <activity android:name=".activity.animator.ValueAnimatorTestActivity" />
        <activity android:name=".activity.animator.LoadingViewActivity" />
        <activity android:name=".activity.animator.ChaAnimatorActivity" />
        <activity android:name=".activity.animator.ObjectAnimatorTestActivity" />
        <activity android:name=".activity.animator.AnimatorSetTestActivity" />
        <activity android:name=".activity.animator.FloatMenuActivity" />
        <activity android:name=".activity.animator.PropertyViewHolderActivity" />
        <activity android:name=".activity.animator.PropertyValueHolderOfObjectActivity" />
        <activity android:name=".activity.animator.ViewPropertyAnimatorActivity" />
        <activity android:name=".activity.viewgroupanimation.UseDefaultAniamtionActivity" />
        <activity android:name=".activity.viewgroupanimation.LayoutTransitionActivity" />
        <activity android:name=".activity.animator.PathMeasureActivity" />
        <activity android:name=".activity.tvwidget.TvRecyclerViewActivity" />
        <activity android:name=".activity.surface.TextureViewActivity" />

        <receiver android:name=".activity.broadcast.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".activity.service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".activity.service.ForegroundService" />
    </application>

</manifest>